<launch>

  <arg name="remapped_tf" default="/tf" />

  <group ns="valve_planner">
    <node pkg="valve_planner" type="drchubo_planner_interface.py" name="drchubo_planner_interface" output="screen" >
      <remap from="/tf" to="$(arg remapped_tf)" />
      <param name="robot_model" value="$(find drchubo_v2)/robots/drchubo_v2.robot.xml"/>
      <param name="tiny_wheel_model" value="$(find valve_planner)/models/driving_wheel_tiny.robot.xml"/>
      <param name="read_joint_states" type="bool" value="false"/>
      <param name="use_ikfast" type="bool" value="false"/>
      <rosparam command="load" file="$(find hubo_launch)/config/drchubo_fullbody_wfingers_params.yaml" />
    </node>
  </group>
</launch>
